/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Workbench&display=swap');

/* Changing the background color for the header */
header {
	background-color: #000060;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #FEF9EA;
}
.photo-margin {
	margin-left: 20px;
	margin-right: 80px;
	margin-top: 100px;
}
.carosel-item {
	background-color: #FEF9EA;
	opacity: 5%;
	margin-left: 10px;
	margin-right: 10px;
	width: 700px;
	height: 200px;
}
.map-text {
	margin-left: 20px;
	margin-right: 80px;
}
.logo {
	opacity: 100%;
	height: 100px;
	width: 100px;
	align-items: right;
	justify-content: right;
}
.mb-9 {
	opacity: 100%;
	justify-content: flex-start;
	flex: 1 1 auto;
	float:center;
}
.mb-10 {
	opacity: 100%;
	justify-content: left;
	align-items: left;
	margin-left: 20px;
	margin-right: 70px;
	margin-bottom: 10px;
	height: 500px;
	width: 775px;
	float:left;
}
.vision {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: right;
  align-items: right;
  text-align: center;
} 
p {
	font-family: 'Arial', sans-serif;
	size: 14pt;
}


h1 {
	font-family: 'Bebas Neue', sans-serif;
	size: 14pt;
}
h2 {
	font-family: 'Bebas Neue', sans-serif;
	size: 14pt;	
}
h3 {
	font-family: 'roboto', sans-serif;
	size: 16pt;
}
h6{
	font-family: 'Arial', sans-serif;
	size: 15pt;
	color:#033757}


/* Changing the background color for the navigation bar */
.navbar {
	background-color: #FEF9EA;
}
.prod{
	margin-left: 35px;
}

.carousel-item {
	width: 250px;;
	height: 250px;
	margin-left: 80px;
	margin-right:80px;
	margin-top: 70px;
	margin-bottom: 20px;
	
}
.carousel-control-prev-icon{
	background-color: #5b95b9;
	color:#045174;

}
.carousel-control-next-icon {
	color:#5b95b9;
	background-color: #033757;
}

/* Effect on social media buttons */
footer a:hover {
	opacity: 0.5;
	color: #800000;
}

mb-4 {
	opacity: 0.5;
	flex: content;
	height: 200px;
	width: 100px;
}
.column-right{
	width:50%;
	float: auto;
	justify-content: right;
	align-content: right;
	align-items: right;
}
.column-left{
	width:50%;
	float: right;
	justify-content: right;
	align-content: right;
	align-items: right;
}
.shadow-lg {
	opacity: 100%;
	position: relative;
}
/* Production page */

.styleguide {
	opacity: 100%;
	height: auto;
	width: 600px;
}

/* Product page */
.add-to-cart {
	opacity: 1;
	color: #000060;
}
.textbox {
	opacity: 100%;
	background-color: #d89c60;
	border-radius: 10px;
	color:#033757;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.btn-primary {
	opacity: 1;
	background-color: #045174;
}
.btn-primary:hover {
	opacity: 0.5;
	color: #000060;
	background-color: #5b95b9;
}
.btn-primary:visited {	
	color: #033757;
}
.btn {
	color: #FEF9EA;
}
.product-name {
	opacity: 100%;
	justify-content: center;
	align-items: center;
	margin-right: 200px;
}
.product-explanation{
	color: #000060;
}
/* Links styling */
a {
	color: #800000;
}
