/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Workbench&display=swap');

/* Changing the background color for the header */
header {
	background-color: #000060;
}

body {
	font-family: 'Bebas Neue', sans-serif;
	background-color: #FEF9EA;
}
.photo-margin {
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 100px;
}
.carosel-item {
	background-color: #FEF9EA;
	opacity: 5%;
	margin-left: 10px;
	margin-right: 10px;
	width: 700px;
	height: 200px;
}
.map-text {
	margin-left: 20px;
	margin-right: 80px;
}
.mb-9 {
	opacity: 100%;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	height: 400px;
	width: 700px;
}
.vision {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: right;
  align-items: right;
  text-align: justify;
} 

h1 {
	font-family: "Source Code Pro", monospace;
}

h3 {
	font-family: 'roboto', sans-serif;
	size: 14pt;
}

h6 {
	font-family: 'source code pro', monospace;
	size:14pt;
}

/* Changing the background color for the navigation bar */
.navbar {
	background-color: #FEF9EA;
}

carousel-item {
	background-color: #FEF9EA;
	opacity: 5%;
}

/* Effect on social media buttons */
footer a:hover {
	opacity: 0.5;
	color: #800000;
}

mb-4 {
	opacity: 0.5;
}

/* Hero Section shadow */
.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.container {
	border-radius: 10px;
}

/* Links styling */
a {
	color: #800000;
}

a:visited {
	color: #2568ee;
}